<html>

<head>
</head>

<body>
    <div>
        <p>
            <mat-toolbar color="primary">
                <span>Quiz App</span>
                <span class="filler"></span>
                <span><a routerLink="/user-dashboard" style="text-decoration:none; color:white;">Dashboard</a></span>
            </mat-toolbar>
        </p>
    </div>
    <div class="card mb-2 mx-auto border border-3" style="width:600px">
        <div class="card-body">
            <div class="row">
                <div class="col" id="timer">
                    <!-- {{formatted_hr}}:{{formatted_min}}:{{formatted_sec}} -->

                </div>
                <div class="col">
                    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
                        Answered: {{attended}}/{{displayQuestions.length}}
                    </div>
                </div>
            </div>

            <form #question="ngForm" novalidate>

                <div style="white-space:pre-wrap;">
                    {{qNo}}. {{currentQuestion}}
                </div>

              
                <div *ngIf="optionType==='Single'">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option"
                            [(ngModel)]="options[this.currentIndex]" value="Option 1" required #option="ngModel">
                        <label class="form-check-label">{{option1}}</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option"
                            [(ngModel)]="options[this.currentIndex]" value="Option 2" required #option="ngModel">
                        <label class="form-check-label">{{option2}}</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="option"
                            [(ngModel)]="options[this.currentIndex]" value="Option 3" required #option="ngModel">
                        <label class="form-check-label">{{option3}}</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="radio" name="option"
                            [(ngModel)]="options[this.currentIndex]" value="Option 4" required #option="ngModel">
                        <label class="form-check-label">{{option4}}</label>
                    </div>
                </div>

                <div *ngIf="optionType==='Multiple'">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="optiona"
                             value="Option 1" required (change)="onChange('Option 1', $event.target)">
                        <label class="form-check-label">{{option1}}</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="optionb"
                             value="Option 2" required  (change)="onChange('Option 2', $event.target)">
                        <label class="form-check-label">{{option2}}</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="optionc"
                             value="Option 3" required  (change)="onChange('Option 3', $event.target)">
                        <label class="form-check-label">{{option3}}</label>
                    </div>
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" name="optiond"
                             value="Option 4" required  (change)="onChange('Option 4', $event.target)">
                        <label class="form-check-label">{{option4}}</label>
                    </div>
                </div>
            </form>
            <div>
                <div style="display: inline; float: left;">
                    <button type="button" [disabled]="counter==0"
                    (click)="prevQuestion()" mat-raised-button color="accent">Previous</button>&nbsp;&nbsp;
                </div>
                <div  style="display: inline; float: right;"> 
                    <button type="button" [disabled]="counter==displayQuestions.length-1"
                    *ngIf="counter!=displayQuestions.length-1" (click)="nextQuestion()" mat-raised-button color="primary">Next</button>
                <button type="button"  *ngIf="counter==displayQuestions.length-1"
                    (click)="finish()" mat-raised-button color="primary">Finish</button>
                </div>
                
            </div>
        </div>
    </div>
    <div class="cdk-overlay-container"></div>
</body>

</html>