<div>
    <p>
        <mat-toolbar color="primary">
            <span>Quiz App</span>
            <span class="filler"></span>
            <span><a routerLink="/admin-dashboard" style="text-decoration:none; color:white;">Dashboard</a></span>
            &nbsp;&nbsp;<span><a routerLink="/viewresults" style="text-decoration:none; color:white;">View
                    Results</a></span>
            &nbsp;&nbsp;<span><a role="button" (click)="logout()"
                    style="text-decoration:none; color:white;">Logout</a></span>
        </mat-toolbar>
    </p>
</div>


<div class="container m-5">

    

    <div class="card mx-auto p-3" style="width: 500px;">
        <div class="m-3 text-center">
            <button mat-raised-button color="primary" (click)="downloadTemplate()">
                <mat-icon>download</mat-icon>
                Download Question Template</button>
        </div>
        <h4>Upload Excel File</h4>
        <label for="dropdown">Select language</label>
        <select id="dropdown" #teams (change)="onSelected(teams.value)">
            <option value=""></option>
            <option value="Java">Java</option>
            <option value="Mongodb">Mongodb</option>
            <option value="Html">Html</option>
            <option value="JavaBasic">JavaBasic</option>
            <option value="JavaIntermediate">JavaIntermediate</option>
            <option value="JavaAdvance">JavaAdvance</option>
            <option value="Angular">Angular</option>
        </select>
        <input type="file" (change)="fileUpload($event)" class="form-control" placeholder="Upload File"
            accept=".xls,.xlsx" name="fileName" />


    </div>




</div>