<div>
  <p>
      <mat-toolbar color="primary">
          <span>Quiz App</span>
          <span class="filler" style="flex: 1 1 auto;"></span>
          <span>
            <a style="text-decoration: none; color: white" routerLink='/signup'>Sign Up</a>
          </span>
      </mat-toolbar>
  </p>
</div>
<div class="row d-flex justify-content-center align-items-center m-5">
<mat-card style="width:400px;">
  <mat-card-header class="mx-auto">
    <mat-card-title>
      <p class="mat-h1" style="color:	#4b0082;">Login</p>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <h5 class="text-danger text-center"><b>{{errorMsg}}</b></h5>
      <div>
        <mat-form-field appearance="outline" color="primary" style="width: 350px;">
          <mat-icon matPrefix color="primary">email</mat-icon>
          <mat-label>Email Address</mat-label>
          <input formControlName="username" matInput type="text"  name="username" required>
          <mat-error *ngIf="name?.hasError('required')">Email Address is Required</mat-error>
        <mat-error *ngIf="name?.hasError('email')">Enter a Valid Email Address</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" color="primary" style="width: 350px;">
            <mat-icon matPrefix color="primary">lock</mat-icon>
          <mat-label>Password</mat-label>
          <input formControlName="password" [type]="input" name="password" required matInput>
          <button mat-icon-button matSuffix  *ngIf="visibility" (click)="onClick()">
            <mat-icon color="primary">visibility_off</mat-icon>
          </button>
          <button mat-icon-button matSuffix (click)="onClick()" *ngIf="!visibility">
          <mat-icon color="primary">visibility_on</mat-icon>
          </button>
          <mat-error *ngIf="password?.hasError('required')">Password is required</mat-error>
        </mat-form-field>
      </div>

      <div class="d-grid gap-2 col-4 mx-auto">
        <button type="submit" (click)="login()"  class="m-2" mat-raised-button color="primary">Login</button>
      </div>
    </form>
    </mat-card-content>
    <mat-card-actions class="mx-auto">
      <div style="font-size:17px;">Don't have an account? <a
        style="text-decoration: none; font-size:17px; color:	#4b0082;" routerLink='/signup'>Signup Here</a></div>
    </mat-card-actions>
    
  </mat-card>
  </div>
 
  