<div>
    <p>
        <mat-toolbar color="primary">
            <span>Quiz App</span>
            <span class="filler"></span>
            <span><a routerLink="/user-dashboard" style="text-decoration:none; color:white;">Dashboard</a></span>
        </mat-toolbar>
    </p>
</div>

<div class="m-5">
    <mat-card class="mx-auto" style="width: 800px;">
            <mat-card-header>
                <h1>Quiz Instructions</h1>
            </mat-card-header>
           <mat-card-content>
            <h4>To Enjoy the Best Experience in our platform, please ensure the followings,</h4>
            <ol>
                <li>This is an Online quiz. Please make sure that you are using the latest version of the browser. We recommend using Google Chrome
                </li>
                <li>It's mandatory to disable all the browser extensions and enabled Add-ons and open the test in incognito mode</li>
                <li>Once you start the test - please complete the test in one go and do not minimize the window or switch tabs</li>
                <li>If you move out of the test window/ tab more than 2 times, your test will be ended and auto-submitted</li>
                <li>You can use next and previous buttons to navigate between the problems</li>
                <li>Once you finish answering all the questions, click the finish button to submit the quiz</li>
            </ol>
        </mat-card-content>
        <mat-card-footer class="mx-auto p-4">
            <button mat-raised-button color="primary" (click)="redirect()">
                <mat-icon>play_arrow</mat-icon>
                Proceed</button>
        </mat-card-footer>
    </mat-card>
</div>