<div>
  <p>
      <mat-toolbar color="primary">
          <span>Quiz App</span>
          <span class="filler"></span>
          <span><a role="button" (click)="logout()" style="text-decoration:none; color:white;">Logout</a></span>
      </mat-toolbar>
  </p>
</div>

<div class="container m-5">
    <div class="row m-2">
        <div class="col-4 mb-4" *ngFor="let quiz of collections">
        <mat-card class="card mx-auto" style="width: 250px;">
            <mat-card-content class="text-center">
                <p class="mat-body-1">{{quiz}}</p>
                <button mat-raised-button color="primary" (click)="checkQuizAlreadyTaken(quiz)">Take Quiz</button>
            </mat-card-content>
        </mat-card>
        </div>
    </div>
 

</div>
